._elevio_widget #_elev_io ._elevio_module_icon div {
    color: #525357 !important;
}

#_elev_io {
    font-family: open-sans, Helvetica, Arial, sans-serif !import;
}

._elevio_category_text {
    color: #000;
}

._elevio_article_body {
    color: rgb(0 0 0 / 90%);
}
